<h2>Todos</h2>

<div id="todos">
  <ul *ngFor="let todo of todos">
    <li>
      ID: {{todo.id}} Message: {{todo.message}} <br>
      Completed: {{todo.status}} Priority: {{todo.priority}}<br>
      <button (click)="removeTodo(todo.id)">Delete todo</button>
    </li>
  </ul>
</div>

<h3>Enter todo</h3>
<form (submit)="addTodo()">
  <div>
    <label>Message</label>
    <input type="text" name="message" [(ngModel)]="message">
  </div>

  <div>
    <label>Priority</label>
    <select name="priority" [(ngModel)]="priority">
      <option *ngFor="let priority of priorities" [value]="priority">
        {{priority}}
      </option>
    </select>
  </div>

  <div>
    <label>
      Completed: <input type="checkbox" name="status" [(ngModel)]="status">
    </label>
  </div>

</form>
